<div id="<%= dom_id myreadingbook %>">
  <p>
    <strong>Name:</strong>
    <%= myreadingbook.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= myreadingbook.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= myreadingbook.genre %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= myreadingbook.rating %>
  </p>

</div>