<p style="color: green"><%= notice %></p>

<%= render @myreadingbook %>

<div>
<%= link_to "Edit", edit_myreadingbook_path(@myreadingbook),class:"btn btn-primary" %> |
<%= link_to "Back", myreadingbooks_path,class:"btn btn-primary" %>
<br><br>
  <%= button_to "Remove", @myreadingbook, method: :delete, class:"btn btn-danger" %>
</div>
