<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= book.type %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

</div>
